/* Dayoka CSS file1 for MP */

#banner { position: absolute; top: 0%; left: 0%; z-index:-1; }
header { height: 100px; }
header #navigator { float: right; line-height: 150px; font-size: 20px; font-weight: bold; color: #555; padding-left: 3em; padding-top: 1em; }
header #navigator a .linky{ text-decoration: none; color: #E60000; margin-right: 5em;}
header #navigator a:hover { color: #5C991F; }
header #navigator a span img { position: relative; top: 8px; background: #cecece; margin-left: 5px; padding: 3px; border: 1px solid #969696; }
#content { display: block; width: 800px; margin: auto; position: absolute; left: 80px; top: 210px; font-family: 'Over the Rainbow', sans-serif;}
#left { display: block; width: 600px; float: left; overflow: hidden; position:absolute; left:100px; top:15px;}
#right { display: block; width: 200px; float: left; overflow: hidden; font-family: Muli, sans-serif;}
#cat{ display: block; position: absolute; right: 142px; top: 270px;}
#dummy { display: block; width: auto; background-color: beige; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px; }
#dummy .pic { float: left; display: block; margin-right: 18px; }
#dummy .pic a img { padding: 10px; background: red; border: 1px solid green; }
h2 { position: absolute; right: 148px; top: 210px; }
a {text-decoration: none;}

#containA{ width: 78%;margin:0 auto;text-align:center; }
#button2 { overflow: hidden; }
#loguser{
    position: absolute;
    margin-top: -20px; 
    left: 7em;
}

#logpass{
    position: absolute;
    margin-top: -20px; 
    left: 7em;
}

.submitstyle2{
    border: none;
    background: #FFF url('submit.gif');
    width: 150px;
    height: 40px;
    position: absolute;
    margin-top:320px;
    left: 500px;
    box-shadow: 5px 5px 5px #1e1e1e;
}

/* Begin nav */
nav { 
    /*background-color:transparent;*/
    height:40px;
    position: absolute;
    top: 138px;
    width: 100%;
    background-color: #812f13; //brown
    text-align: center;
    z-index: 19;
}

nav ul {
    font-family: Arial, Verdana;
    font-size: 20px;
    margin-top: 0;
    margin-left:50%;//600px;
    padding: 0;
    list-style: none;

}

nav ul li {
    display: block;
    position: relative;
    float: left;
}

nav li ul {	display: none; }

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 40px 3px 40px;
    color: #b8a99c; //gray
    background: #812f13; //brown  
    margin-left: 0px;
    white-space: nowrap;
    height:30px; /* width && height of top-level items */
    width:90px;
    text-align:center;
    font-family: 'Exo 2', sans-serif;

}

nav ul li a:hover { 
    background: red;
    color: rgba(0,0,0,0.6);
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

@keyframes mymove
{
    from {left:0px;}
    to {left:50px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
    from {left:0px;}
    to {left:50px;}
}
nav li:hover ul {
    display: block;
    position: absolute;
    top: 0 px;
    right: 0px;
    height:30px;
}

nav li:hover li {
    float: none;
    font-size: 11px;
    animation:mymove 2s;
    animation-timing-function:linear;
    -webkit-animation:mymove 2s;
    -webkit-animation-timing-function:linear;
}

nav li:hover a { 
    background: #812f13; //brown  
    height:30px; /*height of lower-level items*/
    text-align:left;
}

nav li:hover li a:hover { 
    background: red; 
}

nav ul li ul li a:hover{
    text-align:left; /* nested list items */
}

nav ul li ul li li a:hover{
    text-align:left; /* nested list items */
}
/* End */

#storydesc2{ font-family: 'Over the Rainbow', cursive !important; }
#storydesc2 h1{
    position: absolute;
    height: 300px;
    width: 800px;
    top: 30%;
    left: 20%;
}

#storydesc2 ul li{
    list-style-type: none;
    margin-top: 15%;
    margin-left: 15%;
}
#storydesc2 ul li #coverphoto{
    height: 140px;
    width: 170px;
    background-color: black;
    position: absolute;
    top: 45%;
    margin-left: -200;
}
#storydesc2 .topline{
    position:absolute;
    top: 42%;
    z-index: -1;
    left: 17%;
}
